<a href="https://colab.research.google.com/github/alineaprelini/Pyspark/blob/main/Spark_DML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pySpark

Requirement already satisfied: pySpark in /usr/local/lib/python3.10/dist-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pySpark) (0.10.9.7)

In [66]:
#Bibliotecas
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql import functions as F
from pyspark.sql.types import *

In [8]:
#Iniciando Sessão
spark = SparkSession.builder \
    .appName("A") \
    .getOrCreate()

In [45]:
#Carregando base de dados
df1 = spark.read.csv('Marca.csv', header = True, sep = ',')
df2 = spark.read.csv('Produto.csv', header = True, sep = ',')
df3 = spark.read.csv('Clientes.csv', header = True, sep = ';')

In [46]:
df1.show(10)
df2.show(10)
df3.show(10)

+---+-------------+-----------+-------+----------+------------------+--------------------+
|_c0|    IdProduto|DescProduto|IdMarca|Quantidade|             Preço|           DescMarca|
+---+-------------+-----------+-------+----------+------------------+--------------------+
|  0|1245741840860|     Social|      5|       788|             15.41| Li, Smith and Scott|
|  1|9214404086305|      Point|      7|       924|47.720000000000006|Gonzales, Young a...|
|  2|6223853590489|   Evidence|      2|       383|              37.6|        Martin Group|
|  3|8251950562038|        Too|      1|       666|15.739999999999998|Lawrence, William...|
|  4|0868436639740|    Quickly|      9|       242|             79.35|Ayala, Mitchell a...|
|  5|7679841035569|       Door|     10|       697|             76.04|           Black LLC|
|  6|3610164719044|         Tv|      3|       933| 97.91000000000001|         Hardy-Allen|
|  7|3786459022783|     Summer|      6|        15|             45.28|     Sheppard-Duncan|
|  8|8635897693213|       Home|      1|       402|               9.7|      Romero-Johnson|
|  9|3336878386746|       Feel|      2|       518|             73.97|Gibson, Johnson a...|
+---+-------------+-----------+-------+----------+------------------+--------------------+
only showing top 10 rows

+---+-------------+-----------+-------+----------+------------------+
|_c0|    IdProduto|DescProduto|IdMarca|Quantidade|             Preço|
+---+-------------+-----------+-------+----------+------------------+
|  0|1245741840860|     Social|      5|       788|             15.41|
|  1|9214404086305|      Point|      7|       924|47.720000000000006|
|  2|6223853590489|   Evidence|      2|       383|              37.6|
|  3|8251950562038|        Too|      1|       666|15.739999999999998|
|  4|0868436639740|    Quickly|      9|       242|             79.35|
|  5|7679841035569|       Door|     10|       697|             76.04|
|  6|3610164719044|         Tv|      3|       933| 97.91000000000001|
|  7|3786459022783|     Summer|      6|        15|             45.28|
|  8|8635897693213|       Home|      1|       402|               9.7|
|  9|3336878386746|       Feel|      2|       518|             73.97|
+---+-------------+-----------+-------+----------+------------------+
only showing top 10 rows

+---+---------+-----------------+-----+--------------------+--------------------+-----------------+---------+----------+-------+
|_c0|IdCliente|             Nome|Idade|               Email|                País|           Cidade|IdProduto|Quantidade|IdMarca|
+---+---------+-----------------+-----+--------------------+--------------------+-----------------+---------+----------+-------+
|  0| 55911002|   Derrick Santos|   14|shafferdawn@examp...|United States of ...|    South Patrick|        9|         3|      1|
|  1| 84597782|  Kevin Gutierrez|   33|   wknox@example.com|               China|   Port Julieport|        1|         6|      8|
|  2| 98254535|   Nicole Burnett|    8|crystalsimmons@ex...|          Montserrat|     West Cynthia|        9|         1|      2|
|  3| 10613986|   Sylvia Johnson|   24|grahamcaleb@examp...|         Switzerland|North Lisaborough|       10|        10|      3|
|  4| 53161034|   Jasmine Garcia|    6|jennifer33@exampl...|               Korea|      South Susan|        3|         7|      3|
|  5| 91407260|Melanie Patterson|    6|yanghector@exampl...|              Guyana|      Merrittport|        4|         5|      9|
|  6| 44147033|     James Baxter|   21|aaronjenkins@exam...|   Brunei Darussalam|South Normanmouth|        5|         6|      1|
|  7| 47840146|   Kathryn Martin|    4|amanda87@example.org|              Canada|     Lake Barbara|        6|         8|     10|
|  8| 90508451|Chelsea Burke DDS|   37|nrobbins@example.net|             Lesotho|         Port Amy|        4|         3|      1|
|  9| 61673265|     Sandra Price|   26|pattonchloe@examp...|           Argentina|        Luismouth|        3|         4|      4|
+---+---------+-----------------+-----+--------------------+--------------------+-----------------+---------+----------+-------+
only showing top 10 rows

In [54]:
#Join Marca = produto
df4 = df2.join(df1, df2['IdMarca'] == df1['IdMarca'], how='inner').select(df1['IdMarca'], df1['DescMarca'], df2['IdProduto'], df2['DescProduto'], df2['Quantidade'], df2['Preço'])
df4.show()

+-------+--------------------+-------------+-----------+----------+------------------+
|IdMarca|           DescMarca|    IdProduto|DescProduto|Quantidade|             Preço|
+-------+--------------------+-------------+-----------+----------+------------------+
|      5|           Kim-Smith|1245741840860|     Social|       788|             15.41|
|      5|       Phelps-Butler|1245741840860|     Social|       788|             15.41|
|      5|Edwards, Williams...|1245741840860|     Social|       788|             15.41|
|      5|          Duran-Pace|1245741840860|     Social|       788|             15.41|
|      5|        Payne-Mathis|1245741840860|     Social|       788|             15.41|
|      5|Aguilar, Medina a...|1245741840860|     Social|       788|             15.41|
|      5|          Little LLC|1245741840860|     Social|       788|             15.41|
|      5|      Harris-Cabrera|1245741840860|     Social|       788|             15.41|
|      5|           Hines Inc|1245741840860|     Social|       788|             15.41|
|      5|      Berry and Sons|1245741840860|     Social|       788|             15.41|
|      5|       Miller-Joseph|1245741840860|     Social|       788|             15.41|
|      5|Mccullough-Patterson|1245741840860|     Social|       788|             15.41|
|      5|        Anderson PLC|1245741840860|     Social|       788|             15.41|
|      5|        Allen-Howell|1245741840860|     Social|       788|             15.41|
|      5|Johnson, Garcia a...|1245741840860|     Social|       788|             15.41|
|      5| Li, Smith and Scott|1245741840860|     Social|       788|             15.41|
|      7|         Brown Group|9214404086305|      Point|       924|47.720000000000006|
|      7|       Mathis-Taylor|9214404086305|      Point|       924|47.720000000000006|
|      7|Williams, Zimmerm...|9214404086305|      Point|       924|47.720000000000006|
|      7|Davis, Scott and ...|9214404086305|      Point|       924|47.720000000000006|
+-------+--------------------+-------------+-----------+----------+------------------+
only showing top 20 rows

In [49]:
df4.printSchema

<bound method DataFrame.printSchema of DataFrame[_c0: string, IdProduto: string, DescProduto: string, IdMarca: string, Quantidade: string, Preço: string, _c0: string, IdProduto: string, DescProduto: string, IdMarca: string, Quantidade: string, Preço: string, DescMarca: string]>

In [73]:
df5 = df4.join(df3, df3['IdMarca'] == df4['IdMarca']).select(df3['IdCliente'],df3['Nome'], df3['Idade'], df3['País'], df3['Cidade'], df3['IdProduto'], df3['IdMarca'], df4['DescProduto'],df3['Quantidade'], df4['Preço'])
df5.show()

+---------+-----------------+-----+--------------------+------------------+---------+-------+-----------+----------+-----+
|IdCliente|             Nome|Idade|                País|            Cidade|IdProduto|IdMarca|DescProduto|Quantidade|Preço|
+---------+-----------------+-----+--------------------+------------------+---------+-------+-----------+----------+-----+
| 80934224|   Abigail Holmes|   35|              Poland|        Debbiefurt|        5|      5|     Social|         8|15.41|
| 60936668| Richard Anderson|   19|             Reunion|      West Matthew|        1|      5|     Social|         6|15.41|
| 21205014|     Antonio West|   51|               Gabon|       Loriborough|       10|      5|     Social|         5|15.41|
| 92005975|  Michael Blevins|   33|           Mauritius|West Angelicamouth|        6|      5|     Social|         2|15.41|
| 97694562|      Sharon Boyd|   25|              Cyprus|    Lake Jasonberg|        6|      5|     Social|         7|15.41|
| 41374434|Mr. Jonathan Kemp|   48|      American Samoa|        Teresabury|        7|      5|     Social|        10|15.41|
| 80238509|      Emily Mccoy|   19|         El Salvador|  West Tinaborough|        2|      5|     Social|         6|15.41|
| 38710902|     Allison Bell|   55|              Kuwait|     Amandachester|        9|      5|     Social|         6|15.41|
| 82565427|      James Davis|   13|            Dominica|      Barajasmouth|        2|      5|     Social|         6|15.41|
| 53242474|     Dustin Wells|   10|        Saint Martin|         Nancyfort|        1|      5|     Social|         5|15.41|
| 77593924| Jordan Contreras|   38|United Arab Emirates|      North Steven|        3|      5|     Social|        10|15.41|
| 77562379|    Jason Carroll|   31|               Congo|      Heathermouth|        5|      5|     Social|        10|15.41|
| 23313423|    Brandon Moore|   21|            Zimbabwe|         Pattyside|        3|      5|     Social|         3|15.41|
| 20543634|    Peggy Collier|   29|Antarctica (the t...|     Alexanderfurt|        3|      5|     Social|         3|15.41|
| 32223879|      Dean Morris|   53|             Jamaica|         Kellybury|        7|      5|     Social|         2|15.41|
| 45165194|     Jessica Hale|   19|             Ireland|          Reedtown|        3|      5|     Social|         6|15.41|
| 20054218|      Linda Banks|   55|Slovakia (Slovak ...|           Markton|        8|      5|     Social|         7|15.41|
| 83642259|      Jason Hicks|   30|            Ethiopia|   North Francisco|       10|      5|     Social|         5|15.41|
| 96732270|   Laura Williams|   23|       New Caledonia|    West Brianview|        2|      5|     Social|         7|15.41|
| 29677524|    Hunter Gaines|   23|      Western Sahara|        Mariaville|       10|      5|     Social|         1|15.41|
+---------+-----------------+-----+--------------------+------------------+---------+-------+-----------+----------+-----+
only showing top 20 rows

In [74]:
#Total de vendas por produto
p = df5.groupBy('DescProduto').agg(F.count('Quantidade').alias('QuantidadeTotal')).orderBy('QuantidadeTotal')
p.show()

+-----------+---------------+
|DescProduto|QuantidadeTotal|
+-----------+---------------+
|       High|          13986|
|        Use|          13986|
|       Call|          13986|
|      Argue|          13986|
|         Up|          13986|
|    Society|          13986|
|         Be|          13986|
|      Worry|          13986|
|         Ok|          13986|
|  Recognize|          13986|
|    Service|          13986|
|      Price|          13986|
|       Half|          14865|
|  Certainly|          14865|
|      Crime|          14865|
|       Rule|          14865|
|   Probably|          14865|
|     Memory|          14865|
|        Add|          14865|
|       Page|          14865|
+-----------+---------------+
only showing top 20 rows

In [80]:
df5 = df5.withColumn('Total_venda', F.round(F.col('Preço') * F.col('Quantidade')))
df5.show()

+---------+-----------------+-----+--------------------+------------------+---------+-------+-----------+----------+-----+-----------+
|IdCliente|             Nome|Idade|                País|            Cidade|IdProduto|IdMarca|DescProduto|Quantidade|Preço|Total_venda|
+---------+-----------------+-----+--------------------+------------------+---------+-------+-----------+----------+-----+-----------+
| 80934224|   Abigail Holmes|   35|              Poland|        Debbiefurt|        5|      5|     Social|         8|15.41|      123.0|
| 60936668| Richard Anderson|   19|             Reunion|      West Matthew|        1|      5|     Social|         6|15.41|       92.0|
| 21205014|     Antonio West|   51|               Gabon|       Loriborough|       10|      5|     Social|         5|15.41|       77.0|
| 92005975|  Michael Blevins|   33|           Mauritius|West Angelicamouth|        6|      5|     Social|         2|15.41|       31.0|
| 97694562|      Sharon Boyd|   25|              Cyprus|    Lake Jasonberg|        6|      5|     Social|         7|15.41|      108.0|
| 41374434|Mr. Jonathan Kemp|   48|      American Samoa|        Teresabury|        7|      5|     Social|        10|15.41|      154.0|
| 80238509|      Emily Mccoy|   19|         El Salvador|  West Tinaborough|        2|      5|     Social|         6|15.41|       92.0|
| 38710902|     Allison Bell|   55|              Kuwait|     Amandachester|        9|      5|     Social|         6|15.41|       92.0|
| 82565427|      James Davis|   13|            Dominica|      Barajasmouth|        2|      5|     Social|         6|15.41|       92.0|
| 53242474|     Dustin Wells|   10|        Saint Martin|         Nancyfort|        1|      5|     Social|         5|15.41|       77.0|
| 77593924| Jordan Contreras|   38|United Arab Emirates|      North Steven|        3|      5|     Social|        10|15.41|      154.0|
| 77562379|    Jason Carroll|   31|               Congo|      Heathermouth|        5|      5|     Social|        10|15.41|      154.0|
| 23313423|    Brandon Moore|   21|            Zimbabwe|         Pattyside|        3|      5|     Social|         3|15.41|       46.0|
| 20543634|    Peggy Collier|   29|Antarctica (the t...|     Alexanderfurt|        3|      5|     Social|         3|15.41|       46.0|
| 32223879|      Dean Morris|   53|             Jamaica|         Kellybury|        7|      5|     Social|         2|15.41|       31.0|
| 45165194|     Jessica Hale|   19|             Ireland|          Reedtown|        3|      5|     Social|         6|15.41|       92.0|
| 20054218|      Linda Banks|   55|Slovakia (Slovak ...|           Markton|        8|      5|     Social|         7|15.41|      108.0|
| 83642259|      Jason Hicks|   30|            Ethiopia|   North Francisco|       10|      5|     Social|         5|15.41|       77.0|
| 96732270|   Laura Williams|   23|       New Caledonia|    West Brianview|        2|      5|     Social|         7|15.41|      108.0|
| 29677524|    Hunter Gaines|   23|      Western Sahara|        Mariaville|       10|      5|     Social|         1|15.41|       15.0|
+---------+-----------------+-----+--------------------+------------------+---------+-------+-----------+----------+-----+-----------+
only showing top 20 rows

In [82]:
c = df5.groupBy('Nome').agg(F.sum('Total_venda').alias('Total_venda_Cliente'))
c.show()

+-------------------+----------------+
|               Nome|Soma_Total_venda|
+-------------------+----------------+
|       Tommy Wilson|         86528.0|
|        Sharon Hale|         10832.0|
|      Tina Mccarthy|         21632.0|
|          John Dean|         86528.0|
|Robert Alvarado Jr.|         21812.0|
|         Mary Moore|        170448.0|
|        Tonya Walsh|        218481.0|
|     Raymond Cooper|        131142.0|
|         Rita Fritz|        131142.0|
|     Brent Harrison|        252288.0|
|      Melanie Lopez|         36045.0|
|      Adam Williams|         72063.0|
|       Anna Pittman|         73836.0|
|      Sheryl Grimes|         18480.0|
|      Nicole Stuart|         64582.0|
|     Connie Bentley|         83048.0|
|       Megan Butler|         18480.0|
|    Melanie Ramirez|         55370.0|
|   Laurie Hernandez|         64582.0|
|        Helen Jones|        283392.0|
+-------------------+----------------+
only showing top 20 rows